<div class="change-password-container">
    <h2>Change Password</h2>
    <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePasswordSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" required>
      </div>
      <div class="form-group">
        <label for="password">New Password</label>
        <input type="password" id="password" formControlName="password" required>
      </div>
      <div class="form-group">
        <label for="reenterPassword">Reenter Password</label>
        <input type="password" id="reenterPassword" formControlName="reenterPassword" required>
      </div>
      <div *ngIf="passwordMismatch" class="error-message">Passwords do not match.</div>
      <button type="submit" [disabled]="changePasswordForm.invalid || passwordMismatch">Change Password</button>
    </form>
  </div>
  
