.container{
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-x: auto;
}
.border-length {
    border: 1px solid;
    border-top: none;
  }
  .img{
    height: 200px;
    width: 200px;
  }
  .navLinks {
    margin-bottom: 10px;
  }
  
  .navLink {
    margin-right: 10px;
  }
  .equal-height-image {
    height: 450px;
    object-fit: cover;
  }