body {
    font-family: 'Times New Roman', Times, serif;
  }
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #FFE4E1;
  }
  h2 {
    text-align: center;
  }
  .form-group {
    margin-bottom: 15px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .form-group .btn {
    width: 100%;
    padding: 10px;
    background-color: #FF9EAA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .form-group .btn:hover {
    background-color: rgb(248, 26, 92);
  }